{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">
        {% if page.layout == "post" %}
          Новости
        {% else %}
          {{ page.title }}
        {% endif %}
      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
